header{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

}
header div{
    color: black;
    line-height: 100px;
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    height: 100px;

}
header div:hover{
    line-height: 100px;
    text-align: center;
    box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
header .active div{
    box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#logo{
    position: absolute;
    left: 0px;
    width: 200px;
}
#logo img{
    width: 200px;
    height: 99%;
    background-blend-mode: normal;
}
#info{
    position: absolute;
    left: 200px;
    width: 200px;
}
#shop{
    position: absolute;
    left: 405px;
    width: 200px;
}
#account{
    position: absolute;
    right: 0px;
    width: 300px;
}
#account img{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 80px;
    height: 80px;
    background-blend-mode: normal;
}
@media (max-width: 1000px) {
    header{
        position: fixed;
        top:0px;
        left: 0px;
        width: 100%;
        height: 80px;
        background-color: #ffffff;
        display: flex;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    }
    header div{
        color: black;
        line-height: 80px;
        text-align: center;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        height: 80px;

    }
    header div:hover{
        line-height: 80px;
        text-align: center;
        box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #logo{
        position: absolute;
        left: 0px;
        width: 160px;
    }
    #logo img{
        width: 160px;
        height: 49%;
        background-blend-mode: normal;
    }
    #info{
        position: absolute;
        left: 160px;
        width: 160px;
    }
    #shop{
        position: absolute;
        left: 325px;
        width: 160px;
    }
    #account{
        position: absolute;
        right: 0px;
        width: 240px;
    }
    #account img{
        position: absolute;
        top: 5px;
        right: 0px;
        width: 60px;
        height: 60px;
        background-blend-mode: normal;
    }
}
@media (max-width: 750px) {
    header{
        position: fixed;
        top:0px;
        left: 0px;
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        display: flex;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    }
    header div{
        color: black;
        line-height: 50px;
        text-align: center;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        height: 50px;

    }
    header div:hover{
        line-height: 50px;
        text-align: center;
        box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #logo{
        position: absolute;
        left: 0px;
        width: 100px;
        font-size: 10px;
    }
    #logo img{
        width: 100px;
        height: 49%;
        background-blend-mode: normal;
    }
    #info{
        position: absolute;
        left: 100px;
        width: 100px;
        font-size: 10px;
    }
    #shop{
        position: absolute;
        left: 205px;
        width: 100px;
        font-size: 10px;
    }
    #account{
        position: absolute;
        right: 0px;
        width: 150px;
    }
    #account img{
        position: absolute;
        top: 15px;
        right: 0px;
        width: 25px;
        height: 25px;
        background-blend-mode: normal;
    }
}
@media (max-width: 470px) {
    header{
        position: fixed;
        top:0px;
        left: 0px;
        width: 100%;
        height: 45px;
        background-color: #ffffff;
        display: flex;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    }
    header div{
        color: black;
        line-height: 45px;
        text-align: center;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        height: 45px;

    }
    header div:hover{
        line-height: 45px;
        text-align: center;
        box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #logo{
        position: absolute;
        left: 0px;
        width: 90px;
    }
    #logo img{
        width: 90px;
        height: 49%;
        background-blend-mode: normal;
    }
    #info{
        position: absolute;
        left: 90px;
        width: 90px;
    }
    #shop{
        position: absolute;
        left: 185px;
        width: 90px;
        font-size: 10px;
    }
    #account{
        position: absolute;
        right: 0px;
        width: 40px;
        font-size: 0px;
    }
    #account img{
        position: absolute;
        top: 15px;
        right: 10px;
        width: 18px;
        height: 18px;
        background-blend-mode: normal;
    }
}
@media (max-width: 250px) {
    header{
        position: fixed;
        top:0px;
        left: 0px;
        width: 100%;
        height: 35px;
        background-color: #ffffff;
        display: flex;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    }
    header div{
        color: black;
        line-height: 35px;
        text-align: center;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        height: 35px;

    }
    header div:hover{
        line-height: 35px;
        text-align: center;
        box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #logo{
        position: absolute;
        left: 0px;
        width: 70px;
    }
    #logo img{
        width: 70px;
        height: 49%;
        background-blend-mode: normal;
    }
    #info{
        position: absolute;
        left: 70px;
        width: 70px;
    }
    #shop{
        position: absolute;
        left: 145px;
          width: 70px;
        font-size: 10px;
    }
    #account{
        position: absolute;
        right: 0px;
        width: 110px;
        font-size: 0px;
    }
    #account img{
        position: absolute;
        top: 15px;
        right: 0px;
        width: 18px;
        height: 18px;
        background-blend-mode: normal;
    }
}