.searchBlock{
    display: block;
}
.searchBox{
    width: 80%;
    height: 60px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow:  4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter{
    width: 60px;
    height: 100%;

}
.search{
    width: 100%;
    height: 96%;

    border-radius: 0px;
}
.searchButton{
    width: 60px;
    height: 60px;

}

